@import "./settings/all";

html {
	font-size: 62.5%;
}
body {
	background-color: $first-color;
	width: 100vw;
	height: 100vh;
	border: 2px solid blue;
	display: flex;
	box-sizing: border-box;
}

/*****FIRST PAGE*****/

//navigation section
nav {
	display: flex;
	height: 5vh;
	width: 100%;

	.logo {
		display: flex;
		font-family: $font-title;
		font-size: 1rem;
		align-items: flex-end;
	}
}

//main section
.first-page__main {
	// padding-left: 0.4rem;
	display: flex;
	width: 100vw;
	height: 50%;
	padding-bottom: 1rem;
	align-items: center;

	img {
		position: absolute;
		z-index: -1;
		top: 0;
		left: -5rem;
		width: auto;
		height: 60%;
	}

	.main {
		position: absolute;
		bottom: 0;
		background-color: $third-color;
		height: 50%;
		width: 100vw;
		border: 1px solid $third-color;
		border-top-left-radius: 3px;
	}
	.first-page__text {
		font-family: $font-title;
		color: $font-color-basic;
		font-size: 5rem;
		line-height: 7rem;
		.special_text {
			color: $font-color-secondary;
		}
	}
}
