@import "./settings/all";

html {
	font-size: 62.5%;
}
body {
	background-color: $third-color;
	width: 100vw;
	height: 100vh;
	display: flex;
	box-sizing: border-box;
}

/*****FIRST PAGE*****/

//navigation section
.first_view {
	display: flex;
	flex-direction: column;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5vh;
	padding: 1rem;
	background-color: darken($third-color, 6%);

	.logo {
		font-family: $font-title;
		font-size: 1.5rem;
		color: $font-color-basic;
		font-weight: bold;
	}

	.name {
		font-family: $font-title;
		font-size: 2rem;
		font-weight: bold;
		color: $font-color-basic;

		justify-content: flex-end;
	}
	.login_img {
	}
}

//main section
.first-page__main {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;

	img {
		width: auto;
		height: 45%;
		background-color: transparent;
		box-shadow: -0px -10px 10px -8px $font-color-basic,
			0px 10px 10px -8px $font-color-basic;
	}

	.main {
		display: flex;
		flex-direction: column;
		height: 52vh;
		width: 100vw;
		padding-left: 0.5rem;
	}
	.first-page__text {
		padding: 6rem 0 6rem 0;
		font-family: $font-title;
		color: $font-color-basic;
		font-size: 5rem;
		line-height: 7rem;
	}
	form {
		display: flex;
		flex-direction: column;
		align-items: center;

		.input_style {
			border: transparent;
			width: 20rem;
			height: 2.5rem;
			border-bottom: 1px solid $font-color-basic;
			box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
			margin-bottom: 1rem;

			&:placeholder {
				color: $light-grey-color;
			}
		}
		.label_container {
			display: flex;
			flex-direction: column;
			gap: 0.3rem;
		}
	}
	.btn {
		margin-top: 1rem;
		background-color: $font-color-basic;
		color: $third-color;
		font-family: $font-text;
		border-radius: 1.9rem;
		font-weight: bold;
		font-size: 1.5rem;
		width: 15rem;
		height: 4rem;
		cursor: pointer;
		box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
	}

	.btn {
		&.btn_register {
			background-color: transparent;
			color: $font-color-basic;
			border: none;
			box-shadow: none;
			align-self: center;
			text-decoration: none;
			padding-left: 3.5rem;
		}
	}
}
.log_text {
	font-weight: bold;
	font-family: $font-text;
	font-size: 1.4rem;
	color: $font-color-basic;
}
.btn {
	margin-top: 1rem;
	background-color: $font-color-basic;
	color: $third-color;
	font-family: $font-text;
	border-radius: 1.9rem;
	font-weight: bold;
	font-size: 1.5rem;
	width: 15rem;
	height: 4rem;
	cursor: pointer;
	box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
}
.btn:hover {
	opacity: 0.6;
}

.appear {
	font-size: 1.5rem;
	color: red;
	display: flex;
	justify-content: center;
}

.disappear {
	display: none;
}
/******* REGISTRATION PAGE ******/

// register view
.reg_container {
	width: auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: $third-color;
	padding: 2rem;

	.reg_text {
		font-size: 2rem;
		color: $font-color-basic;
		border: 2px solid $font-color-basic;
		line-height: 4rem;
		padding: 2rem;
		border-radius: 5rem;
		text-align: justify;
		text-align-last: center;

		.special_text {
			font-weight: bold;
		}
	}
	form.reg_form {
		padding-top: 6rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		input {
			margin-left: 0.5rem;
			padding: 0.8rem;
		}

		button {
			margin-top: 5rem;
			align-self: center;
			width: 25rem;
		}
	}
}

/******** LOGGED VIEW *********/

.logged_view {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: $third-color;

	.recipe_cathegory {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: $font-text;
		font-size: 2rem;
		background-color: darken($third-color, 10%);
		width: 60vw;
		margin: 2rem;
		.cathegory {
			width: 60vw;
			text-decoration: none;
		}
	}
	form.add_cath_form {
		font-size: 2rem;
		display: flex;
		flex-direction: column;

		input,
		button {
			font-family: $font-text;
			align-self: center;
			width: 60vw;
			height: 4rem;
			font-size: 2rem;
		}
		input {
			margin-bottom: 1.6rem;
			height: 3rem;
			width: 59vw;
			padding: 0;
		}
		button {
			background-color: adjust-color($font-color-basic, $lightness: 20%);
			color: $third-color;
			border-radius: 3rem;
		}
	}
}

/******RECIPES IN CATHEGORY ******/

.view_recipes {
	width: 100vw;
	height: 100vh;
	font-family: $font-text;
	font-size: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.add_recipe_button {
		padding: 2rem;
		background-color: adjust-color($font-color-basic, $lightness: 20%);
		border-radius: 3rem;
		text-decoration: none;
		color: $third-color;
		cursor: pointer;
	}

	.recipes_list {
		display: flex;
		flex-direction: column;

		border: 2px solid adjust-color($font-color-basic, $lightness: 20%);
		border-radius: 3rem;
		padding: 3rem;
		margin-top: 10rem;

		h3 {
			font-weight: bold;
			padding-bottom: 2rem;
			text-decoration: underline;
		}
		.recipe {
			padding-bottom: 1rem;
		}
	}
}

/******ADD RECIPE *****/

.add_recipe {
	display: flex;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	position: relative;

	h2 {
		position: absolute;
		top: -1em;
		left: 1rem;
		font-size: 1.5rem;
		font-family: $font-title;
		color: $font-color-basic;
	}

	form {
		padding-top: 3rem;
		font-size: $font-text;
		display: flex;
		flex-direction: column;
		align-items: center;
		input {
			width: 60vw;
			height: 2rem;
			padding-bottom: 1rem;
		}
		.subtitles {
			display: flex;
			padding-top: 1rem;
			gap: 7rem;
			font-size: 1.8rem;
			font-family: $font-text;
		}
		button {
			color: $third-color;
			font-weight: bold;
			border-radius: 3rem;
			border: none;
			padding: 1rem;
			gap: 2rem;
			width: 60vw;
			background-color: $font-color-secondary;
			cursor: pointer;
		}

		.buttons_container {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 7rem;
			button {
				margin: 5rem 0 5rem 0;
				background-color: adjust-color($font-color-basic, $lightness: 20%);
				width: auto;
			}
		}
	}
}
